body{
    background-color: black;
    color: white;
    margin: 0px auto;
}
@font-face {
    font-family: "ftrk";
    src: url(./assets/fonts/futurak.ttf);
}
@font-face {
    font-family: "apercu";
    src: url(./assets/fonts/aperculight.otf);
}
@font-face {
    font-family: "butlerbold";
    src: url(./assets/fonts/butlerbold.otf);
}
img{
    width: 100%;
    height: 75px;
}
.log{
    margin-right: 250px;
}

/* .font{
    font-family: poppins, sans-serif;
    font-size: 14px;  
} */
.topline .nav nav ul li{
    display: inline-block;
    padding-left: 50px;
    padding: 17px 36px 0px 0px;
    font-size: 16px;
    font-weight: 400;
}
.tl{
    display: inline-block;;
    margin-left: 50px;
}
.nav{
    margin: 0px 0px 0px 100px;
}
.topline{
    display: flex;
    justify-content: center;
}
.oo{
    width: 150px;
    height: 50px;
    background-color: red;
    border: none;
    border-radius: 50px;
    padding: 12px 13.5px 12px 13.5px;
    font-size: 14px;
    font-weight: 400;
    margin-left: 10px;
}
.gf{
    width: 140px;
    height: 45px;
    border: 1px solid white;
    border-radius: 50px;
    padding: 12px 16.5px 12px 16.5px;
    font-size: 14px;
    font-weight: 400;
}
.btn button{
    align-items: center;
}
.bnr img{
    width: 80rem;
    height: 410px;
}
/* Cards */
.brandsection{

    align-items: center;
}
.grt{
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 8px;
}

.tem{
    width: 240px;
    height: 200px;
    display: inline-block;
    margin-left: 100px;
    /* justify-content: center; */
    /* text-align: center; */
    
}
.tem img{
    width: 100%;
    height: 100%;
    background-color: aliceblue;
    display: inline-block;
    border-radius: 5px;
}
.tem button{
    display: block;
    width: 174px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 50px;
    color: #FFFFFF;
    background-color: black;
    margin: auto;
    margin-top: 24px;
}
.card{
    justify-content: center;
    align-items: center;
}
.franchise{
    align-items: center;
    padding: 70px;
}
.cnt{
    font-family: sans-serif poppins ;
    font-size: 16px;
    color: white;
    display: block; 
    padding-left: 25px;  
}
.cnt h2,p{
    text-align: center;
}
.par{
    color: #FFFFFF;
    font-size: 16px;
    font-family: 'Apercu';
}

.heading{
    font-size: 48px;
    font-weight: 700;
    margin: 0px 0px 8px
}
.heading span{
    font-size: 52px;
    font-family: 'ftrk';
    margin: 0px auto;
}
.cnt p{
    font-family: "apercu";
}
.frenadd{
    display: flex;
    margin-left: 150px;
}
.frenpic{
    width: 570px;
    height: 300px;
    background-color: lightblue;
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;
}
.frenpic>img{
    width: 100%;
    height: 100%;
}
.frensn{
    width: 570px;
    height: 300px;
    display: inline-block;
}
.futurak{
    font-family: "ftrk";
}
.expfran{
    background-image: url(./assets/images/backpic.webp);
    text-align: center;
}
.expfranhen{
    width: 996px;
    height: 150px;
}
.expfrandtl{
    display: inline-block;
    align-items: center;
    width: 356px;
    height: 510px;
    margin-left: 10px;
}
.expfrandtl p{
    color: #FFFFFF;
}
.exppic{
    width: 356px;
    height: 250px;
}
.exppic>img{
    width: 356px;
    height: 250px;
}
.expfrandtl button{
    width: 174px;
    height: 50px;
    background-color: rgba(25, 24, 31, 0.678);
    color: #FFFFFF;
    border-radius: 50px;
    font-family: 'Poppins';
    font-size: 14px;
    line-height: 21px;
}
.vllgfran{
    width: 1340px;
    height: 500px;
    background-color: #000000;
}
.vllgfran h2{
    font-size: 32px;
    font-family: "Apercu";
}
.vllgfrantl{
    width: 646px;
    height: 370px;
    display: inline-block;
   
}
.vllgfrantl img{
    width: 646px;
    height: 370px;
}
.vllgfrantl button{
    width: 174px;
    height: 50px;
    background-color: #28a745;
    color: #FFFFFF;
    border-radius: 50px;
    font-family: 'Poppins';
    margin: 40px 0px 0px 0px;
    font-size: 14px;
    line-height: 21px;
}
.vllgfrantl button:hover{
    background-color: #212529;
    color: #FFFFFF;
    border: 2px solid #28a745;
}
.vllgfranadd{
    margin: 0px auto;
    text-align: left;
    float: right;
}
small{
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.48em;
    text-transform: uppercase;
    color: #ED1C24;
    display: inline-block;
}
.comingsoon{
    padding: 60px 0px 38px;
    background-color: rgba(19, 16, 16, 0.822);
}
.comingsooncard{
    width: 265px;
    height: 225px;
    color: #212529;
    font-size: 16px;
    font-family: 'Poppins' sans-serif;
    background-color: #FFFFFF;
    padding: 25px 15px;
    display: inline-block;
    align-items: center;
    border-radius: 5px;
    margin-left: 40px;
    margin-top: 40px;
    line-height: normal;
}
.comingsooncard img{
    width: 56px;
    height: 56px;
}
.comingsooncard h4,p{
    margin: 0px;
    font-family: 'FuturaBlack BT';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 30px;
    text-align: center;
    color: #000000;
}
.csh{
    font-family: 'FuturaBlack BT';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 30px;
    text-align: center;
    color: #000000;
}
.socialfeed h3{
    font-family: 'Butler';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 30px;
    text-align: center;
    color: #4c4f53;
    margin: 0px;
    padding: 0px 0px 32px;
}
.socialfeedpic{
    width: 213px;
    height: 213px;
    display: inline-block;
    padding: 0px 10px 15px;
}
.socialfeedpic img{
    width: 213px;
    height: 213px;
}
.abtslt{
    all: unset;
}
.footer{
    background-color: #000000;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
}
.footer1{
    display: flex;   
    flex-direction: column;
     width: 365px;
     height: 283;
}

.footer1 img{
    width: 140px;
    height: 64px;
}
.footer1 p{
    font-size: 15px;
    display: inline-block;
    padding: 0px 0px 24px;
    font-family: 'Apercu';
}
.footer1 ul li{
    display: inline-block;
    padding: 0px 0px 16px;
    margin: 0px;
}
.footer1 ul{
    font-size: 15px;
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-family: 'Apercu';
}
a{
    text-decoration: none;
    color: #FFFFFF;
}

.footer2{
    display: flex;
    flex-direction: column;
    width: 196px;
    height: 423px;
}
.footer2 h3{
    display: inline-block;
}
.footer2 ul li{
    display: inline-block;
    padding: 0px 0px 16px;
}
.footer3{
    width: 196px;
    height: 423px;
    display: flex;
    flex-direction: column;
}
.footer3 h3{
    display: inline-block;
}
.footer3 ul li{
    display: inline-block;
    padding: 0px 0px 16px;
}
.cnthdn{
    margin-bottom: 0px !important;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}
.footer4{
    width: 195  px;
    height: 423px;
}
